*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
projeto-app/build-android-start/app/gradlew
projeto-app/build-android-start/app/build.gradle
projeto-app/build-android-start/app/gradle/wrapper/gradle-wrapper.jar
projeto-app/build-android-start/app/gradle/wrapper/gradle-wrapper.properties
projeto-app/build-android-start/app/gradlew.bat
projeto-app/build-android-start/app/build.gradle
